<header class="header">
  <div class="header__left">
    <div class="header__logo">
      <h2>Ledger<span class="header__logo--accent">Ly</span></h2>
    </div>
  </div>

  <div class="header__right">
    <div class="header__profile">
      <img
      src="assets/avatar_64.png"
      alt="User Avatar"
      class="header__avatar"
      />
      <span class="header__username">Admin</span>
    </div>
    
    <button class="header__icon-btn" aria-label="Notifications">
      <span class="header__icon header__icon--bell"></span>
      <span class="header__badge">3</span>
    </button>

    <button class="header__icon-btn" aria-label="Contact">
      <span class="header__icon header__icon--contact"></span>
    </button>

    <button class="header__icon-btn header__icon-btn--logout" aria-label="Logout">
      <span class="header__icon header__icon--logout"></span>
    </button>

  </div>
</header>
