<main class="auth">
  <div class="auth__logo">
    <h2>Ledger<span class="auth__logo--accent">ly</span></h2>
  </div>
  <p class="auth__text text_center">
    Inicia sesión en el sistema de gestión de facturas
  </p>

  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form__field">
      <label for="email" class="form__label">Email</label>
      <input
        type="email"
        class="form__input"
        placeholder="Tu Email"
        id="email"
        formControlName="email"
      />
      <small class="form__error" *ngIf="email?.touched && email?.invalid">
        <span *ngIf="email?.errors?.['required']">El email es obligatorio</span>
        <span *ngIf="email?.errors?.['email']">Formato de email inválido</span>
      </small>
    </div>

    <div class="form__field">
      <label for="password" class="form__label">Password</label>
      <input
        type="password"
        class="form__input"
        placeholder="Tu Password"
        id="password"
        formControlName="password"
      />
      <small class="form__error" *ngIf="password?.touched && password?.invalid">
        <span *ngIf="password?.errors?.['required']"
          >La contraseña es obligatoria</span
        >
      </small>
    </div>

    <div class="form__remember">
      <input type="checkbox" id="remember" formControlName="remember" />
      <label for="remember">Recordarme</label>
    </div>
    <input type="submit" class="form__submit" value="Iniciar Sesión" />
  </form>
  <div class="actions">
    <a routerLink="/auth/register" class="actions__link"
      >¿Aun no tienes cuenta? Da de alta tu empresa</a
    >
    <a routerLink="/auth/forget" class="actions__link"
      >¿Olvidaste tu contraseña?</a
    >
  </div>
</main>
