@use "index" as *;

.auth {
  @include container;
  width: 100%;
  padding: 2rem;

  &__logo {
    font-weight: $font-weight-heavy;
    user-select: none;
    text-align: center;
    margin: 1rem 0;

    &__text {
      font-size: 3rem;

      @include tablet {
        font-size: 5rem;
      }
    }

    &--accent {
      color: $color-accent;
    }
  }

  &__text {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 2rem;

    @include tablet {
      font-size: 1.8rem;
    }
  }
}
