<main class="auth auth--register">
  <div class="auth__logo">
    <h1 class="auth__logo__text">
      Ledger<span class="auth__logo--accent">Ly</span>
    </h1>
  </div>
  <p class="auth__text text_center">
    Registra tu empresa para comenzar a gestionar tus facturas
  </p>

  <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form__field">
      <label for="name" class="form__label">Nombre de la Empresa</label>
      <input
        type="text"
        class="form__input"
        placeholder="Nombre"
        id="name"
        formControlName="name"
      />
      <small class="form__error" *ngIf="name?.touched && name?.invalid">
        <span *ngIf="name?.errors?.['required']">El nombre es obligatorio</span>
      </small>
    </div>

    <div class="form__field">
      <label for="fiscalNumber" class="form__label">Número Fiscal</label>
      <input
        type="text"
        class="form__input"
        placeholder="Número Fiscal"
        id="fiscalNumber"
        formControlName="fiscalNumber"
      />
      <small
        class="form__error"
        *ngIf="fiscalNumber?.touched && fiscalNumber?.invalid"
      >
        <span *ngIf="fiscalNumber?.errors?.['required']"
          >Este campo es obligatorio</span
        >
      </small>
    </div>

    <div class="form__field">
      <label for="phone" class="form__label">Teléfono</label>
      <input
        type="text"
        class="form__input"
        placeholder="Teléfono"
        id="phone"
        formControlName="phone"
      />
      <small class="form__error" *ngIf="phone?.touched && phone?.invalid">
        <span *ngIf="phone?.errors?.['required']"
          >El teléfono es obligatorio</span
        >
        <span *ngIf="phone?.errors?.['pattern']">Debe tener 9 dígitos</span>
      </small>
    </div>

    <div class="form__field">
      <label for="email" class="form__label">Email</label>
      <input
        type="email"
        class="form__input"
        placeholder="Tu Email"
        id="email"
        formControlName="email"
      />
      <small class="form__error" *ngIf="email?.touched && email?.invalid">
        <span *ngIf="email?.errors?.['required']">El email es obligatorio</span>
        <span *ngIf="email?.errors?.['email']">Formato de email inválido</span>
      </small>
    </div>

    <div formGroupName="address">
      <h3 class="text-center form__label">Dirección</h3>

      <div class="form__group--row">
        <div class="form__field">
          <label for="street" class="form__label">Calle</label>
          <input
            type="text"
            class="form__input"
            placeholder="Calle"
            id="street"
            formControlName="street"
          />
          <small
            class="form__error"
            *ngIf="
              address?.get('street')?.touched && address?.get('street')?.invalid
            "
          >
            <span *ngIf="address?.get('street')?.errors?.['required']"
              >La calle es obligatoria</span
            >
          </small>
        </div>

        <div class="form__field">
          <label for="number" class="form__label">Codigo Postal</label>
          <input
            type="text"
            class="form__input"
            placeholder="Número"
            id="number"
            formControlName="number"
          />
          <small
            class="form__error"
            *ngIf="
              address?.get('number')?.touched && address?.get('number')?.invalid
            "
          >
            <span *ngIf="address?.get('number')?.errors?.['required']"
              >El número es obligatorio</span
            >
          </small>
        </div>
      </div>
      <div class="form__group--row">
        <div class="form__field">
          <label for="city" class="form__label">Ciudad</label>
          <input
            type="text"
            class="form__input"
            placeholder="Ciudad"
            id="city"
            formControlName="city"
          />
          <small
            class="form__error"
            *ngIf="
              address?.get('city')?.touched && address?.get('city')?.invalid
            "
          >
            <span *ngIf="address?.get('city')?.errors?.['required']"
              >La ciudad es obligatoria</span
            >
          </small>
        </div>

        <div class="form__field">
          <label for="country" class="form__label">País</label>
          <input
            type="text"
            class="form__input"
            placeholder="País"
            id="country"
            formControlName="country"
          />
          <small
            class="form__error"
            *ngIf="
              address?.get('country')?.touched &&
              address?.get('country')?.invalid
            "
          >
            <span *ngIf="address?.get('country')?.errors?.['required']"
              >El país es obligatorio</span
            >
          </small>
        </div>
      </div>
    </div>

    <input type="submit" class="form__submit" value="Registrar Empresa" />
  </form>

  <div class="actions">
    <a routerLink="/auth/login" class="actions__link"
      >¿Ya tienes cuenta? Inicia sesión</a
    >
    <a routerLink="/auth/forget" class="actions__link"
      >¿Olvidaste tu contraseña?</a
    >
  </div>
</main>
