<div class="page">
  <app-alert
    [message]="errorMessage"
    type="error"
    [visible]="errorVisible"
    (closed)="errorVisible = false"
  >
  </app-alert>
  <div class="page__header">
    <h2 class="page__name">Listado de Clientes</h2>
    <p class="page__description">
      Aquí puedes consultar todos los clientes registrados en el sistema.
    </p>
  </div>

  <div class="page__actions">
    <div class="page__search">
      <button class="btn btn--primary">Buscar</button>
      <input
        type="text"
        class="search__input"
        placeholder="Buscar cliente..."
      />
    </div>
    <button class="btn btn--secondary">Añadir Cliente</button>
  </div>

  <div class="page__content">
    <div class="list__wrapper">
      <ul class="list">
        <li class="list__item" *ngFor="let client of clients">
          <p class="list__title">
            {{ client.id }} - {{ client.name }} {{ client.lastname }}
          </p>
          <p class="list__subtitle">{{ client.email }}</p>
          <div class="list__actions">
            <button class="btn btn--warning">Editar</button>
            <button class="btn btn--error">Eliminar</button>
          </div>
        </li>
      </ul>
    </div>

    <div class="table__wrapper">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{ client.id }}</td>
            <td>{{ client.name }} {{ client.lastname }}</td>
            <td>{{ client.email }}</td>
            <td>{{ formatPhone(client.address.country, client.phone) }}</td>
            <td>{{ formatAddress(client.address) }}</td>
            <td class="table__actions">
              <button class="btn btn--warning">Editar</button>
              <button class="btn btn--error">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
