@use "index" as *;

.page {
  @include container;

  @include xl_desktop {
    @include container-lg;
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__name {
    @include page-name;
  }

  &__description {
    @include page-description;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .btn {
        align-self: flex-end;
        width: fit-content;
      }
    }
  }

  &__search {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;

    .search__input {
      padding: 1rem;
      font-size: $font-size-base;
      border: 1px solid $gray-300;
      border-radius: 0.5rem;
      width: 100%;
      @include shadow;
    }

    .btn {
      align-self: flex-end;
      width: 100%;
    }

    @include tablet {
      flex-direction: row;
      width: auto;

      .search__input {
        width: 300px;
      }
    }
  }

  &__content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    max-height: 40vh;
    overflow-y: auto;

    @include tablet {
      max-height: 55vh;
    }

    @include xl_desktop {
      max-height: 70vh;
    }
  }

}

.list__wrapper {
  display: block;
  @include shadow;
  max-height: 47vh;
  overflow-y: auto;

  @include tablet {
    display: none;
  }
}

.table__wrapper {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    @include shadow;
    border-radius: 0.5rem;
    overflow: hidden;
  }
}

.no-results {
  @include shadow;
  text-align: center;
  padding: 2rem;
  font-size: $font-size-base;
  color: $gray-600;
  border: 1px solid $gray-300;
  border-radius: 0.5rem;
  background-color: $white;
}

.btn {
  @include button($color-primary, $white);
  font-size: $font-size-sm;

  &--secondary {
    @include button($color-secondary, $white);
  }

  &--warning {
    @include button($color-warning, $white);
  }

  &--error {
    @include button($color-error, $white);
  }
}

.list__actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.75rem;

  .btn {
    padding: 0.75rem 1rem;
    font-size: 1.4rem;
    width: auto;
    flex: 1;
  }

  @include tablet {
    .btn {
      padding: 1rem 2rem;
      font-size: 1.6rem;
    }
  }
}
