<div class="page">
  <div class="page__header">
    <h2 class="page__name">Listado de Empleados</h2>
    <p class="page__description">
      Aquí puedes consultar todos los empleados registrados en el sistema.
    </p>
  </div>

  <div class="page__actions">
    <div class="page__search">
      <button class="btn btn--primary">Buscar</button>
      <input
        type="text"
        class="search__input"
        placeholder="Buscar empleado..."
      />
    </div>
    <button class="btn btn--secondary">Añadir Empleado</button>
  </div>

  <div class="page__content">
    <div class="list__wrapper">
      <ul class="list">
        <li class="list__item">
          <p class="list__title">#1 - Juan Pérez</p>
          <p class="list__subtitle">Tech Solutions</p>
          <p class="list__subtitle">juanperez&#64;email.com</p>
          <div class="list__actions">
            <button class="btn btn--warning">Editar</button>
            <button class="btn btn--error">Eliminar</button>
          </div>
        </li>
        <li class="list__item">
          <p class="list__title">#1 - Juan Pérez</p>
          <p class="list__subtitle">Tech Solutions</p>
          <p class="list__subtitle">juanperez&#64;email.com</p>
          <div class="list__actions">
            <button class="btn btn--warning">Editar</button>
            <button class="btn btn--error">Eliminar</button>
          </div>
        </li>
      </ul>
    </div>

    <div class="table__wrapper">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Puesto</th>
            <th>Empresa</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Juan Pérez</td>
            <td>jperez&#64;solutions.com</td>
            <td>+34 666 123 456</td>
            <td>Vendedor</td>
            <td>Tech Solutions</td>
            <td class="table__actions">
              <button class="btn btn--warning">Editar</button>
              <button class="btn btn--error">Eliminar</button>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Juan Pérez</td>
            <td>jperez&#64;solutions.com</td>
            <td>+34 666 123 456</td>
            <td>Vendedor</td>
            <td>Tech Solutions</td>
            <td class="table__actions">
              <button class="btn btn--warning">Editar</button>
              <button class="btn btn--error">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
