@use "index" as *;

.page {
  @include container;

  &__header {
    margin-bottom: 2rem;
  }

  &__name {
    @include page-name;
  }

  &__description {
    @include page-description;
  }

  .form__content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 47vh;
    overflow-y: auto;
  }

  .form__group--row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    .form__field {
      flex: 1;
    }

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.address {
  margin-top: 2rem;
}
