@use "index" as *;

.auth {
  @include container;
  min-width: 50rem;

  &__logo {
    font-weight: $font-weight-heavy;
    font-size: $font-size-xl;
    user-select: none;
    text-align: center;
    margin: 3rem 0;

    &--accent {
      color: $color-accent;
    }
  }

  &__text {
    text-align: center;
  }
}
