@use "index" as *;

.page {
  @include container;

  @include xl_desktop {
    @include container-lg;
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__name {
    @include page-name;
  }

  &__description {
    @include page-description;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .btn {
        align-self: flex-end;
        width: fit-content;
      }
    }
  }

  &__search {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;

    .search__input {
      padding: 1rem;
      font-size: $font-size-base;
      border: 1px solid $gray-300;
      border-radius: 0.5rem;
      width: 100%;
      @include shadow;
    }

    @include tablet {
      flex-direction: row;
      width: auto;

      .search__input {
        width: 300px;
      }
    }
  }

  &__content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    max-height: 55vh;
    overflow-y: auto;
    
    @include xl_desktop {
        max-height: 70vh;
    }
  }
}

.products__group {
  &__company {
    @include page-name;
    font-size: $font-size-lg;
    margin-bottom: 1rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.no-results {
  @include shadow;
  text-align: center;
  padding: 2rem;
  font-size: $font-size-base;
  color: $gray-600;
  border: 1px solid $gray-300;
  border-radius: 0.5rem;
  background-color: $white;
}

.btn {
  @include button($color-primary, $white);
  font-size: $font-size-sm;

  &--secondary {
    @include button($color-secondary, $white);
  }
}
