<aside class="sidebar">
  <nav class="sidebar__nav">
    <ul class="sidebar__nav-list">
      <li class="sidebar__nav-item">
        <a href="#" class="sidebar__nav-link sidebar__nav-link--active">
          <span class="sidebar__icon sidebar__icon--dashboard"></span>
          Dashboard
        </a>
      </li>
      <li class="sidebar__nav-item">
        <a href="#" class="sidebar__nav-link">
          <span class="sidebar__icon sidebar__icon--users"></span>
          Usuarios
        </a>
      </li>
      <li class="sidebar__nav-item">
        <a href="#" class="sidebar__nav-link">
          <span class="sidebar__icon sidebar__icon--invoices"></span>
          Facturas
        </a>
      </li>
      <li class="sidebar__nav-item">
        <a href="#" class="sidebar__nav-link">
          <span class="sidebar__icon sidebar__icon--company"></span>
          Compañías
        </a>
      </li>
      <li class="sidebar__nav-item">
        <a href="#" class="sidebar__nav-link">
          <span class="sidebar__icon sidebar__icon--employees"></span>
          Empleados
        </a>
      </li>
      <li class="sidebar__nav-item">
        <a href="#" class="sidebar__nav-link">
          <span class="sidebar__icon sidebar__icon--clients"></span>
          Clientes
        </a>
      </li>
    </ul>
  </nav>
</aside>
