@use 'index' as *;

.sidebar {
  display: none;
  background-color: $gray-50;
  width: 100%;
  height: 100%;
  border-right: 1px solid $gray-300;
  padding: 3rem 2rem;
  font-family: $font-family-base;

  @include tablet {
    display: block;
  }

  &__nav-list {
    @include reset-list;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  // &__nav-item {}

  &__nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    color: $text-color;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover,
    &:focus {
      background-color: $color-primary;
      color: $white;
      cursor: pointer;
      .sidebar__icon {
        filter: brightness(1);
      }
    }

    &--active {
      background-color: $color-primary;
      color: $white;
      .sidebar__icon {
        filter: brightness(1);
      }

    }
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    filter: brightness(0.5);
    transition: filter 0.3s ease;
  }
  
  &__icon--dashboard {
    background-image: url('/assets/icons/dashboard.svg');
  }

  &__icon--users {
    background-image: url('/assets/icons/users.svg');
  }

  &__icon--invoices {
    background-image: url('/assets/icons/invoice.svg');
  }

  &__icon--employees {
    background-image: url('/assets/icons/employee.svg');
  }

  &__icon--company {
    background-image: url('/assets/icons/company.svg');
  }
  
  &__icon--clients {
    background-image: url('/assets/icons/clients.svg');
  }
}
