@use 'variables' as v;

.actions {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    &__link { 
        color: v.$black;
        font-size: v.$font-size-md;
        font-weight: v.$font-weight-thin;
        
        &:hover {
            color: v.$color-secondary;
        }
    }
}