@use 'variables' as v;
@use 'mixins' as m;

.form {
    display: flex;
    flex-direction: column;

    &__field {
        display: flex;
        flex-direction: column;
        
        margin: 1rem 0;
    }

    &__label {
        display: block;
        font-size: v.$font-size-lg;
        color: rgba(v.$black, .8);
    }

    &__input {
        padding: 1rem;
        border: 1px solid darken(v.$gray-600, 20);
        border-radius: .5rem;
    }

    &__remember {
        display: flex;
        align-items: center;
        gap: 1rem;

        input[type="checkbox"] {
            width: 1.6rem;
            height: 1.6rem;
            accent-color: v.$color-primary;
            cursor: pointer;
        }

        label {
            font-size: v.$font-size-lg;
            color: v.$gray-800;
            cursor: pointer;
        }
    }
  
    &__submit {
        @include m.button(v.$color-primary, v.$white);
        width: auto;
        align-self: center;
        margin-top: 2rem;
    }

    &__error {
        color: v.$color-error;
        font-size: v.$font-size-base;
    }
}